<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HT.Data.Properties.Settings.Hotel" connectionString="Data Source=192.168.1.106;Initial Catalog=Nutifinanzas_Traslado;User ID=sa;Password=C4DR3web123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>